<section class="robots">
	<div class="robots__filters">
		<input
			id="robots-search"
			pInputText
			type="text"
			[placeholder]="translateService.translate('Назва, регіон або виробник')()"
			class="robots__search"
			[ngModel]="searchTerm()"
			(ngModelChange)="searchTerm.set($event)"
		/>
	</div>

	<div class="robots__results">
		<div class="robots__grid">
			@for (item of results(); track item._id) {
			<div class="robots__row" (click)="view(item)">
				<app-robot-short [entity]="item" />
			</div>
			} @empty {
			<p class="robots__empty" translate>За заданим запитом роботів не знайдено.</p>
			}
		</div>
	</div>
</section>
